.startBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    display: inline-block;
    width: 100%;
    max-width: 375px;
}

.introText {
    margin-top: 40px;
}

.startBtn {
    margin-top: 50px;
    align-self: center;
}