.input {
    max-width: 150px;
    padding: 5px 8px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-size: 16px;
}

.input:focus {
    box-shadow: 0px 0px 5px 1px var(--success-color);
    outline: none;
}